a:hover{
    text-decoration:none;
}

table tr td{
    border: 1px solid #DDDDDD;
}

table tr th{
    border: 1px solid #DDDDDD;
    background-color: #8c8c8c;
    color:#fff;
}

.border-left-color{
    padding: 13px 6px 8px 19px;
    border-radius: 2px;
    border: 1px solid #DDDDDD;
    border-left: 5px solid #aa6708;
    margin-bottom:15px;
}

.border-left-color h4{
    color:#aa6708;
}

.border-left-color-red{
    padding: 13px 6px 8px 19px;
    border-radius: 2px;
    border: 1px solid #DDDDDD;
    border-left: 5px solid darkred;
    margin-bottom:15px;
}

.border-left-color-red h4{
    color:darkred;
}

.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
}

.btn-red {
    background-color: #fb5d5d;
    border: 1px solid transparent;
}
.btn-green {
    background-color: #6fd64b;
    border: 1px solid transparent;
}
.img-holder img {
    width:100%;
}

